html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white-1: #f7f4f2;
  --white-2: #d1cbc3;
  --font-1: #3e1300;
  --font-2: #e65b20;
  --font-3: #484443;
  --heart: #CC3333;
}
