.languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  div {
    vertical-align: middle;
    cursor: pointer;
    padding: 20px 0;
    font-size: 48px;
    color: #3e1300;
    transition: all 1s;
    &:hover {
      color: #e65b20;
    }
  }
}