.search {
  width: 100%;
  form {
    margin: 10px 0 0 30px;
    input {
      border-radius: 10px;
      height: 30px;
    }
  }
}
.index {
  display: flex;
  flex-wrap: wrap;
}
.font {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0 0 20px;
  color: #e65b20;
}
