.search_container {
  margin-left: 20px;
  .search_form {
    width: 240px;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #3e1300;
    label {
      input {
        border: none;
        outline: none;
        border-radius: 10px;
        height: 50px;
        width: 190px;
      }
      span {
        line-height: 50px;
        vertical-align: middle;
        float: right;
        margin-right: 5px;
      }
    }
  }
}