.music_card {
  cursor: pointer;
  margin: 10px;
  background-color: #f7f4f2;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  img {
    border-radius: 20px;
    object-fit: cover;
  }
  p {
    font-family: 'Cormorant Garamond',serif;
  }
}